@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    justify-content: center;
}
body.center-form {
    background-color: #000000d8;
    min-height: 100vh;    
}

div.center-form {
    position: relative;
    min-height: 100vh;
}

div.center-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(140deg, #0a2450, #0B7DBF, #5A6475, #4484F2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 620px;
    width: 560px;
    border: 5px;
    border-radius: 8px;
}
h1{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3em;
    text-align: center;
    margin: 0px 0 40px 0;
}
label{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.1em;
    color: black;
}

input {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 8px 0px 8px 0px ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466) ;
}
.terms{
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    font-size: 0.8em;
}
.terms input{
    margin-left: 5px;
    margin-top: 2px;
}

.register{
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
.register input {
    cursor: pointer;
    height: 35px;
    width: 150px;
    align-items: center;
    font: bold 1.1em black;    
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466) ;
}
.register a{
    text-decoration: none;
}

.back{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8em;
    margin: 10px 0 20px 0;
}
.back a{
    text-decoration: none;
    color: black;
}

.back a:hover{
    color: red;
}

footer{
    color: rgba(0, 0, 0, 0.603);
    position: absolute;
    bottom: 1%;
}